@font-face {
  font-family: 'instagram';
  src: url('./assets/fonts/Instagram_sans.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'instagram', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f3f3f3;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;

  display: flex;
}